@model Car_rental.Models.user

@{
    ViewData["Title"] = "Chat";
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../images/image_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Profile</span></p> <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Profile</h1>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #eee;">
    <div class="row">
        <div class="col-md-4">
            <h2>Chat</h2>
            <ul id="messagesList"></ul>
            <div>
                <input type="text" id="userInput" placeholder="User" />
                <input type="text" id="messageInput" placeholder="Message" />
                <button id="sendButton">Send</button>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
