@model Car_rental.Models.user
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Verifying Your Email</title>
</head>

<body>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/user/images/car-6.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
    </section>
    <div style="text-align: center; margin-top: 100px; font: 12px verdana;">
        <h1>Thank You for Verifying Your Email</h1>
        <p>Dear Friend</p>
        <p>Thank you for verifying your email address. Your account is now fully activated and ready to use.</p>
        <p>Best regards</p>
    </div>
</body>

</html>