<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/user/images/image_5.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Term and Condition <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Term and Condition</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>Terms and Conditions</h1>
        <hr/>
        <p>
            Welcome to our car rental website. Before you start using our services, please read and understand the
            following terms and conditions.
        </p>
        <ol>
            <li>
                <strong>Registration:</strong> To use our car rental services, you must register an account and provide
                accurate personal information.
            </li>
            <li>
                <strong>Payment:</strong> We accept payment through the website's token system. To use tokens, you need
                to deposit funds into your account.
            </li>
            <li>
                <strong>Listing Services:</strong> If you wish to list car rental services on our website, you must
                adhere to the specific regulations and guidelines provided by us.
            </li>
            <li>
                <strong>Security:</strong> We are committed to protecting your personal information and will not
                disclose it to any third party.
            </li>
            <li>
                <strong>Acceptance of Use:</strong> By using our website, you agree to abide by these terms and
                conditions.
            </li>
        </ol>
        <p>
            Please note that these terms and conditions may change over time, and you should check regularly for the
            latest updates.
        </p>
    </div>
</section>

<section class="ftco-counter ftco-section img bg-light" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="60">0</strong>
                        <span>Year <br>Experienced</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="1090">0</strong>
                        <span>Total <br>Cars</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2590">0</strong>
                        <span>Happy <br>Customers</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="67">0</strong>
                        <span>Total <br>Branches</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
