@model Car_rental.Models.bookings

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>bookings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="bookings" asp-action="Booking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="cardId" value="@ViewBag.cardId" />
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalAmount" class="control-label"></label>
                <input asp-for="totalAmount" class="form-control" />
                <span asp-validation-for="totalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
