<div>
  <title>Idea Record</title>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0 text-center w-1.0">Idea Percent Record</h5>
    </div>
    <div style="margin-left: 20px">
      <a asp-controller="storeowner" asp-action="ExportExcel"
        ><i class="fa-solid fa-file-excel" style="font-size: 30px"></i
      ></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <div>
      <canvas id="ChartUserPercent" class="w-1.0 h-1.0"></canvas>
    </div>
    <script>
      const labelsUserPercent = [@Html.Raw(ViewData["labels"])];
      const dataUserPercent = {
        labels: labelsUserPercent,
        datasets: [{
          label: 'Idea',
          backgroundColor: [@Html.Raw(ViewData["Percent_Color"])],
          borderColor: 'rgb(255, 99, 132)',
          data: [@ViewData["Percent"]],
          barPercentage: 0.5,
          barThickness: 80,
        }]
      };
      const configUserPercent = {
        type: 'pie',
        data: dataUserPercent,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      };
    </script>
    <script>
      const UserPercent = new Chart(
        document.getElementById("UserPercent"),
        configUserPercent
      );
    </script>
  </div>
</div>
